
body{
    background-image: url(../img/pizarron_fondo.jpg) ; 
    margin: 100px;
    padding: 0;   
    background-size: cover;
    color: rgb(255, 255, 255);
    
}

.underlined {text-decoration: underline;}

#titulos{
color: yellow;
font-size: 0.6cm;
margin-left: 20px;
}

h1{
    text-align: center;
    font-family: 'Poppins';
    width: 60%;
    margin: 25px auto;
    padding: 25px 50px;
}

aside{
    width: 600px;
    height: 500px;
    text-align:justify;
    float: right;
}

h2{
    color: yellow;
}

h3{
    text-align: center;
}

.titulo2{
    color: yellow;
}

.contenedor2{
    display: flex;

}

.img1{
    margin-right: 100px;
}

.fecha{
    text-align: right;
    margin-right: 30px;
}

.parrafo1{
    text-align: justify;
    width: 1000px;
    font-size:0.5cm;
    margin-left: 20px;
}

.parrafo2{
    margin-left: 20px;
    text-align: justify;
    width: 1000px;
    font-size:0.5cm;
    
}

.img3{
    margin-right: 150px;
}

.contenedor{
    display: flex;
    text-align: justify;
    margin-left: 80px;
}

.parrafo3{
    text-align: justify;
    font-size: 0.5cm;
}

#foot{
    text-align: right;
    font-size: 0.5cm;
}

li{
    font-size: 0.5cm;
}